
    <link rel="stylesheet" href="/css/signin">


    <h1 style="text-align: center;">e-Shram</h1>

    <form action="/user" method="post" style="text-align: center;" class="container">

        <input type="text" name="username" id="user-name" class="form-control" placeholder="Full name" required="" autofocus="">
        <br>
        <input type="Aadhar number" name="adharNumber" id="user-Aadhar" class="form-control" placeholder="Aadhar Number" required autofocus="">
        <br>
        <input type="password" id="user-pass" name="password" class="form-control" placeholder="Password" required autofocus="">
        <br>
        <input type="password" id="user-repeatpass" name="reset-password" class="form-control" placeholder="Repeat Password" required autofocus="">
        <br>

        <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
        <a href="/" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
    </form>

    
