.footer-top {
    padding : 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 25vh;
}

.footer-contact{
    border: 5px solid black;
    display: flex;
    align-items: center;
}
.footer-links {
    margin-top: 1%;
    width: 20%;
    border : 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


